<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather_icon.png">
    <!-- link es un elemento vacío. href es el path relativo (o absoluto) del archivo a cargar -->
    <link rel="stylesheet" href="/css/bulma.css">
    {{!-- <link rel="stylesheet" href="/css/styles.css">  --}}
   <link rel="stylesheet" href="/css/additionalStyles.css">

</head>

<body>
<div class="columns is-mobile mt-3">
    <div class="column is-6 is-offset-3">
        <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>    
        </div>
    </div>
</div>
    {{!-- {{>footer}} --}}
</body>
   


</html>