<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather_icon.png">
    <link rel="stylesheet" href="/css/styles.css"> 
    
</head>


<body>
    <div class="main-content">
    {{>header}}
    <div class="bodyContent">
        <p>This site was created by Francisco G. Gonzálvez. It uses data from mapbox.com and weatherstack.com</p>
    </div>
    <img class="portrait" src="/img/Fran.jpeg">
    

    </div>
    
    
    {{>footer}}
</body>


</html>