<head>
 <link rel="stylesheet" href="/css/bulma.css">
</head>

<header>
    <h1 class="title is-1 has-text-link" >{{title}}</h1>

    <div class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <figure class="image is-64x64">
                <img src="..\..\..\img\weather_icon.png">
            </figure>
            <a class="navbar-item" href="/">Weather</a>
            <a class="navbar-item" href="/about">About</a>
            <a class="navbar-item" href="/help">Help</a>
        </div>
    </div>

    
    
</header>
